In [27]:
import os
from decimal import Decimal
from datetime import datetime, time, timedelta
import pytz

from dotenv import load_dotenv
import pandas as pd

from tinkoff.invest.sandbox.client import SandboxClient
from tinkoff.invest import InstrumentIdType, InstrumentStatus, MoneyValue, CandleInterval
from tinkoff.invest.utils import decimal_to_quotation, quotation_to_decimal
# InstrumentExchangeType

In [6]:
load_dotenv()
t_invest_token = os.getenv('TINVEST_TOKEN')

To create a jupyter_notebook_config.py file, with all the defaults commented out, you can use the following command line:

$ jupyter notebook --generate-config

Open the file and search for c.NotebookApp.iopub_data_rate_limit

Comment out the line c.NotebookApp.iopub_data_rate_limit = 1000000 and change it to a higher default rate. l used c.NotebookApp.iopub_data_rate_limit = 10000000

# Получение текущего состояния

In [7]:
with SandboxClient(t_invest_token) as client:
        print(client.users.get_info())
        print("------")
        print(client.users.get_accounts())
        print("------")
        print(client.users.get_margin_attributes(account_id='675e84ac-36da-4c28-a737-4c82f8e1f3ee') )
        print("------")
        #print(client.users.get_user_tariff() )

GetInfoResponse(prem_status=False, qual_status=False, qualified_for_work_with=['derivative', 'structured_bonds', 'closed_fund', 'bond', 'structured_income_bonds', 'russian_shares', 'leverage', 'foreign_shares', 'foreign_etf', 'foreign_bond', 'option'], tariff='sandbox', user_id='', risk_level_code='')
------
GetAccountsResponse(accounts=[Account(id='675e84ac-36da-4c28-a737-4c82f8e1f3ee', type=<AccountType.ACCOUNT_TYPE_TINKOFF: 1>, name='SimpleMomentumBot1', status=<AccountStatus.ACCOUNT_STATUS_OPEN: 2>, opened_date=datetime.datetime(2025, 5, 17, 9, 55, 2, 998807, tzinfo=datetime.timezone.utc), closed_date=datetime.datetime(1970, 1, 1, 0, 0, tzinfo=datetime.timezone.utc), access_level=<AccessLevel.ACCOUNT_ACCESS_LEVEL_FULL_ACCESS: 1>)])
------
GetMarginAttributesResponse(liquid_portfolio=MoneyValue(currency='rub', units=50000, nano=0), starting_margin=MoneyValue(currency='rub', units=0, nano=0), minimal_margin=MoneyValue(currency='rub', units=0, nano=0), funds_sufficiency_level=Quotation(units=2, nano=0), amount_of_missing_funds=MoneyValue(currency='rub', units=0, nano=0), corrected_margin=MoneyValue(currency='rub', units=0, nano=0))
------

# Добавление аккаунта в песочницу

In [18]:
#with SandboxClient(t_invest_token) as client:
#        client.sandbox.open_sandbox_account(name="SimpleMomentumBot1")

In [30]:
#with SandboxClient(t_invest_token) as client:
#    money = decimal_to_quotation(Decimal(50000))    
#    client.sandbox.sandbox_pay_in(account_id='675e84ac-36da-4c28-a737-4c82f8e1f3ee', 
#                                  amount=MoneyValue(units=money.units, nano=money.nano, currency='rub'))

# Получение фьючерса

In [60]:
ticker = "GDM5"

In [61]:
data = []
with SandboxClient(t_invest_token) as client:
    #print(client.instruments.future_by(id="GDM5", id_type=InstrumentIdType.INSTRUMENT_ID_TYPE_TICKER, class_code="future"))
    fs = list(filter(lambda x: x.ticker == ticker,  client.instruments.futures().instruments))    
    if(len(fs) > 0):
        figi = fs[0].figi     
        for candle in client.get_all_candles(
            figi=figi,
            #from_=pytz.UTC.localize(datetime.combine(datetime.now(), time.min) - timedelta(days=1)),
            from_=pytz.UTC.localize(datetime(2025,3,1)),
            interval=CandleInterval.CANDLE_INTERVAL_1_MIN,
        ):
            data += [
                [
                 candle.time,
                 float(quotation_to_decimal(candle.open)), 
                 float(quotation_to_decimal(candle.close)),
                 float(quotation_to_decimal(candle.high)),
                 float(quotation_to_decimal(candle.low)),
                 candle.volume
                ]]

ticker_data_draft = pd.DataFrame(data, columns=['UTC', 'open', 'close','high','low','volume'])

In [62]:
ticker_data_draft

                            UTC    open   close    high     low  volume
0     2025-03-03 05:59:00+00:00  2932.3  2936.0  2936.0  2932.3      25
1     2025-03-03 06:00:00+00:00  2936.3  2939.0  2939.0  2936.3      69
2     2025-03-03 06:01:00+00:00  2938.8  2938.8  2938.8  2938.8       1
3     2025-03-03 06:02:00+00:00  2938.6  2938.7  2938.7  2938.6       8
4     2025-03-03 06:03:00+00:00  2938.6  2938.8  2938.8  2938.6      11
...                         ...     ...     ...     ...     ...     ...
48393 2025-05-23 20:45:00+00:00  3355.2  3355.1  3355.5  3354.7      35
48394 2025-05-23 20:46:00+00:00  3355.1  3355.0  3355.1  3354.8     243
48395 2025-05-23 20:47:00+00:00  3355.0  3356.5  3356.5  3355.0     123
48396 2025-05-23 20:48:00+00:00  3356.5  3357.4  3357.4  3356.5     105
48397 2025-05-23 20:49:00+00:00  3357.1  3357.5  3357.5  3356.5     243

[48398 rows x 6 columns]

In [66]:
ticker_data_draft.to_csv("data\\2025-"+ticker+"\\2025-"+ticker+".csv", sep=';', encoding='utf-8', header=False)

In [64]:
ticker_data = ticker_data_draft.copy()
ticker_data.index = pd.DatetimeIndex(ticker_data_draft['UTC'])
ticker_data.drop(['UTC'], axis=1, inplace=True)

In [65]:
ticker_data

                             open   close    high     low  volume
UTC
2025-03-03 05:59:00+00:00  2932.3  2936.0  2936.0  2932.3      25
2025-03-03 06:00:00+00:00  2936.3  2939.0  2939.0  2936.3      69
2025-03-03 06:01:00+00:00  2938.8  2938.8  2938.8  2938.8       1
2025-03-03 06:02:00+00:00  2938.6  2938.7  2938.7  2938.6       8
2025-03-03 06:03:00+00:00  2938.6  2938.8  2938.8  2938.6      11
...                           ...     ...     ...     ...     ...
2025-05-23 20:45:00+00:00  3355.2  3355.1  3355.5  3354.7      35
2025-05-23 20:46:00+00:00  3355.1  3355.0  3355.1  3354.8     243
2025-05-23 20:47:00+00:00  3355.0  3356.5  3356.5  3355.0     123
2025-05-23 20:48:00+00:00  3356.5  3357.4  3357.4  3356.5     105
2025-05-23 20:49:00+00:00  3357.1  3357.5  3357.5  3356.5     243

[48398 rows x 5 columns]

# Размещение заявок

In [68]:
with SandboxClient(t_invest_token) as client:
    statuses = client.market_data.get_trading_statuses(instrument_ids=["BBG004730N88"])
    print(statuses)

GetTradingStatusesResponse(trading_statuses=[GetTradingStatusResponse(figi='BBG004730N88', trading_status=<SecurityTradingStatus.SECURITY_TRADING_STATUS_NOT_AVAILABLE_FOR_TRADING: 1>, limit_order_available_flag=False, market_order_available_flag=False, api_trade_available_flag=True, instrument_uid='e6123145-9665-43e0-8413-cd61b8aa9b13', bestprice_order_available_flag=False, only_best_price=False)])